* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
    font-size: 14px;
    background: #000;
    width: 100%;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
button {
    border: none;
}